@import "tailwindcss";

@font-face {
  font-family: "NeutralFace";
  src: url("/fonts/NeutralFace-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TildaSans";
  src: url("/fonts/TildaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TildaSans";
  src: url("/fonts/TildaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-heading: "NeutralFace", sans-serif;
  --font-body: "TildaSans", sans-serif;

  --color-primary: #092750;
  --color-accent-blue: #A0C8DE;
  --color-accent-olive: #828B1C;
  --color-white: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #092750;
  color: #FFFFFF;
  font-family: "TildaSans", sans-serif;
  font-weight: 300;
}
